[View in Colaboratory](https://colab.research.google.com/github/WairaSMachida/Test/blob/master/Intro_ao_Python.ipynb)

In [39]:
myvar = 4
myvar
print(myvar)

5/2
5//2
type("c")

4

2

# Introducao ao Python

In [56]:
l = []

for i in range(11):
  myvar = i+2
  l = l + [myvar]
  
  print(myvar)
print("Valor de myvar: "+str(myvar))
"Valor de l: "+str(l)

2
3
4
5
6
7
8
9
10
11
12
Valor de myvar: 12

'Valor de l: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]'

In [35]:
ls = ['a','b','c', 'd']
ls[1]

'b'

In [0]:
func = function(arg1, arg2){
    return arg1 + arg2
} #Isto no R

In [0]:
def funcaoCachorro(arg1, arg2):
  return arg1+arg2

In [0]:
def funcaoCachorro2(arg1, arg2):
  print(arg1+arg2)

In [48]:
funcaoCachorro(200,300)

500

In [0]:
import pandas as pd

In [69]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=["col1","col2","col3"])
df.describe()
df.head()

   col1  col2  col3
0     1     2     3
1     4     5     6

In [72]:
df.apply(sum)
df.apply(sum, axis =1)

0     6
1    15
dtype: int64

In [74]:
var1 = [[1,10], [2,10], [3,30], [4,40]]
for i,j in var1:
  print(i, j+i)

1 11
2 12
3 33
4 44

In [76]:
vet = [1,2,3,4,5] # Aqui chamamos de lista
names = {'a':0, 'b':1, 'c':2, 'd':3, "e":4}
vet[names['c']] # aqui esta associando nomes ao vetor
vet == 3

False

In [80]:
import numpy as np
arr = np.array([1,2,3,4,5]) #isto aqui eh um vetor mesmo
arr == 3

array([False, False,  True, False, False])

# Estrutura condicionais
Esta eh uma nova secao

In [0]:
#if e else

a = 10

In [88]:
if a > 10:
  print("maior") #neste caso no coloca maior porque nao eh igual a 10
else:
  if a == 10:
    print("igual")
  else:
    print("menor")

igual

In [92]:
a = 11

if a > 10:
  print("maior") #neste caso no coloca maior porque nao eh igual a 10
elif a == 10:
  print("igual")
else:
  print("menor")

maior

In [93]:
a = 200

if a > 100:
  print("muito maior") 
elif a > 10:
  print("maior")
elif a == 10:
  print("igual")
elif a < 10:
  print("menor")
elif a < 0:
  print("negativo")
else:
  print("nao sei o que dizer")

muito maior

In [96]:
a, b = 10, 20 # Como tem o and os dois valores tem que estar certos para dar true. Se colocar or sairia true

if a > 10 or b >20:
  print("True") 

else:
  print("false")

True

In [97]:
np.array([True, True, False]) | np.array([True, False, False])

array([ True,  True, False])

De acordo com a equacao tal:

$x=\sum_{i = 0}^{N} = x_i  \frac{2}{(n-1)}$$